<!DOCTYPE html>
<html>
<title>{{ app_title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">{{ app_title }}</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">{{ about }}</a>
      <a href="#menu" class="w3-bar-item w3-button">{{ menu }}</a>
      <a href="#contact" class="w3-bar-item w3-button">{{ contact }}</a>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="https://www.w3schools.com/w3images/tablesetting2.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">{{ about }}</h1><br>
      <h5 class="w3-center">{{ slogan }}</h5>
      <p class="w3-large">{{ description }}</p>
      <h4><strong>{{ event }}</strong></h4>
      <ul>
        <li><strong>{{ date }}:</strong> {{ date_value | date_formatting(locale) }}</li>
        <li><strong>{{ time }}:</strong> {{ time_value | time_formatting(locale) }}</li>
      </ul>
      <p><i>{{ attendee_value | number_formatting(locale) }} {{ attendee | plural_formatting(attendee_value, locale) }}</i></p>
    </div>
  </div>

<!-- End page content -->
</div>

</body>
</html>
